@page "/faction/delete/{id:int}"
@using System.Runtime.InteropServices.ComTypes
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Mvc.Routing
@using WarhammerTracking.Data.Army
@attribute [Authorize(Roles = "User,Admin")]
@inject ArmyDataAccessProvider ArmyDataAccessProvider
@inject FactionDataAccessProvider FactionDataAccessProvider
@inject NavigationManager NavigationManager

<h1>Armies - Delete</h1>
<div class="alert alert-danger" role="alert">
Are you sure you want to delete this faction ?
</div>
<div class="shadow-lg rounded form-box">
<div class="row">
    <EditForm Model="faction" OnSubmit=@FormSubmit>
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group form-inline">
            <label for="Name">Name</label>
            <InputText id="Name" @bind-Value="faction.name" disabled/>
        </div>
        <div class="form-group form-inline">
            <label for="Army">Army</label>
            <InputText id="Army" @bind-Value="faction.army.name" disabled/>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
        <input type="button" value="Cancel" @onclick="Cancel" class="btn btn-secondary"/>
    </EditForm>
</div>
</div>
@code {
    [Parameter]
    public int id { get; set; }

    Faction faction;

    protected override async Task OnInitializedAsync()
    {
        faction = await FactionDataAccessProvider.GetFaction(id);
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("faction");
    }
    
    private async void FormSubmit(EditContext editContext)
    {
        if (editContext.Validate())
        {
            await FactionDataAccessProvider.DeleteFaction(id);
            NavigationManager.NavigateTo("faction");
        }
        else
        {
            Console.WriteLine("Fail");
        }
    }

}