@page "/"
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Index> L

    @* <h1>@L["Hello"]</h1> *@
    <AuthorizeView Roles="User,Admin">
    
    </AuthorizeView>

@code {


}