@page "/army/add"
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Mvc.Routing
@using WarhammerTracking.Data.Army
@attribute [Authorize(Roles = "User,Admin")]
@inject ArmyDataAccessProvider ArmyDataAccessProvider
@inject NavigationManager NavigationManager

<h1>Armies - Add</h1>
<div class="shadow-lg rounded form-box">
<div class="row">
    <EditForm Model="army" OnSubmit=@FormSubmit>
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group form-inline">
            <label for="Name">Name</label>
            <InputText id="Name" @bind-Value="@army.name" />
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
        <input type="button" value="Cancel" @onclick="Cancel" class="btn btn-secondary"/>
    </EditForm>
</div>
</div>

@code {

    Army army = new Army();

    private void Cancel()
    {
        NavigationManager.NavigateTo("army");
    }
    
    private async void FormSubmit(EditContext editContext)
    {
        if (editContext.Validate())
        {
            Console.WriteLine("Success");
            await ArmyDataAccessProvider.AddArmy(army);
            NavigationManager.NavigateTo("army");
        }
        else
        {
            Console.WriteLine("Fail");
        }
    }

}