@page "/army"
@using WarhammerTracking.Data.Army
@attribute [Authorize(Roles = "User,Admin")]
@inject ArmyDataAccessProvider ArmyDataAccessProvider

<h1>Armies</h1>

@if (Armies == null)
{
    <p><em>No records...</em></p>
}
else
{
    <div class="shadow-lg rounded form-box">
    <a href="/army/add" class="btn btn-primary">Add</a>
    <DataGrid Items="Armies" PageSize="5">
        <Column>
            <DataGridColumn Items="@Armies" ColumnName="name" DisplayColumnName="Name"></DataGridColumn> 
            <th>Actions</th>
        </Column>
        <GridRow >
            <td>@context.name</td>
            <td>
                <a href="/army/edit/@context.id" class="btn btn-primary">Edit</a>
                <a href="/army/delete/@context.id" class="btn btn-danger">Delete</a>
            </td>
        </GridRow>

    </DataGrid>
</div>
}

@code {
    Army[] Armies;

    protected override async Task OnInitializedAsync()
    {
        Armies = await ArmyDataAccessProvider.ListArmy();
    }

}