@using WarhammerTracking.Services
@inject LocalizationService L

<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">@L.GetLocalization("Hello"), @context.User.Identity.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">@L.GetLocalization("Logout")</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Login">@L.GetLocalization("Login")</a>
    </NotAuthorized>
</AuthorizeView>