@using Microsoft.Extensions.Localization
@inject IStringLocalizer<LoginDisplay> L

<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">@L["Hello"], @context.User.Identity.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">@L["Logout"]</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Login">@L["Login"]</a>
    </NotAuthorized>
</AuthorizeView>
