@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Localization
@using WarhammerTracking.Services
@inherits Microsoft.AspNetCore.Components.LayoutComponentBase
<BlazoredModal />
<div class="sidebar">
    <NavMenu />
</div>

<main>
    <div class="top-row px-4">
        <LoginDisplay />
    </div>

    <div class="content px-4">
        @Body
    </div>
</main>
