@page "/user/delete/{id}"
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Mvc.Routing
@using WarhammerTracking.Data
@using WarhammerTracking.Data.Army
@attribute [Authorize(Roles = "Admin")]
@inject UserDataAccessProvider UserDataAccessProvider
@inject NavigationManager NavigationManager

<h1>Users - Delete</h1>
<div class="alert alert-danger" role="alert">
Are you sure you want to delete this user ?
</div>

<div class="shadow-lg rounded form-box">
<div class="row">
    <form>
        <div class="form-group">
            <label for="Id">Id</label>
            <input for="Id" readonly="1" class="form-control" @bind-value="@user.Id"/>
        </div>
        <div class="form-group">
            <label for="Name">Name</label>
            <input for="Name" readonly="1" class="form-control" @bind-value="@user.UserName"/>
        </div>
        <div class="form-group">
            <label for="Email">Email</label>
            <input for="Email" readonly="1" class="form-control" @bind-value="@user.Email"/>
        </div>
        <div class="form-group">
            <input type="button" value="Delete" @onclick="DeleteUser" class="btn btn-primary"/>
            <input type="button" value="Cancel" @onclick="Cancel" class="btn btn-secondary"/>
        </div>
    </form>
</div>
</div>
@code {
    [Parameter]
    public string id { get; set; }
    
    ApplicationUser user;

    protected override async Task OnInitializedAsync()
    {
        user = await UserDataAccessProvider.GetUser(id);
    }

    private void DeleteUser()
    {
        UserDataAccessProvider.DeleteUser(id);
        NavigationManager.NavigateTo("user");
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("user");
    }

}