@page "/user"
@using WarhammerTracking.Data
@attribute [Authorize(Roles = "Admin")]
@inject UserDataAccessProvider UserDataAccessProvider

<h1>Users</h1>

@if (Users == null)
{
    <p><em>No records...</em></p>
}
else
{
    <div class="shadow-lg rounded form-box">
    <a href="/user/add" class="btn btn-primary">Add</a>
    <DataGrid Items="Users" PageSize="5">
        <Column>
            <DataGridColumn Items="@Users" ColumnName="UserName" DisplayColumnName="UserName"></DataGridColumn> 
            <DataGridColumn Items="@Users" ColumnName="PlayerUserName" DisplayColumnName="Player"></DataGridColumn> 
            <DataGridColumn Items="@Users" ColumnName="Expired" DisplayColumnName="Expired"></DataGridColumn> 
            <th>Actions</th>
        </Column>
        <GridRow >
            <td>@context.UserName</td>
            <td>
                <a href="/user/edit/@context.Id" class="btn btn-primary">Edit</a>
                <a href="/user/delete/@context.Id" class="btn btn-danger">Delete</a>
            </td>
        </GridRow>
    </DataGrid>
</div>
}

@code {
    ApplicationUser[] Users;

    protected override async Task OnInitializedAsync()
    {
        Users = await UserDataAccessProvider.ListUser();
    }

}